@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 35, 50;
  --background-end-rgb: 20, 20, 20;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition: all 150ms;
}

@layer components {
  .commonButton{
    @apply flex items-center rounded-md py-2 md:py-4 tracking-wider bg-gray-800 shadow-md md:enabled:hover:bg-pink-900 disabled:opacity-40;
  }
  .commonPanel{
    @apply relative bg-gray-800 rounded-md shadow-md;
  }
}